version: "3.2"
services:
  nodemonapp:
    container_name: nodemonapp
    build: .
    ports:
      - "3001:3001"
    links:
      - mongo
    secrets:
      - port
    restart: always
    volumes:
      - node_modules:/user/src/app/node_modules
    environment:
      port: /run/secrets/app_port

  mongo:
    image: mongo
    restart: always
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
    secrets:
      - db_user
      - db_password
    environment:
      MONGO_INITDB_ROOT_USERNAME: /run/secrets/db_user
      MONGO_INITDB_ROOT_PASSWORD: /run/secrets/db_password

secrets:
  db_user:
    file: ./db_user.txt
  db_password:
    file: ./db_password.txt
  port:
    file: ./port.txt
volumes:
  mongo-data:
  node_modules:
