version: "3.7"
services:

  mongo:
    container_name: mongodb
    image: bitnami/mongodb:latest
    restart: always
    volumes:
      - mongodb_master_data:/bitnami
    ports:
      - "27017:27017"
    secrets:
      - db_user
      - db_password
    environment:
      MONGODB_USERNAME: 'root'
      MONGODB_PASSWORD: 'root'
      MONGODB_DATABASE: 'crud'
  nodemonapp:
    container_name: nodemonapp
    build: .
    ports:
      - "3001:3001"
    depends_on:
      - mongo
    secrets:
      - port
    restart: always
    environment:
      port: /run/secrets/app_port
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
    working_dir: /usr/src/app
    command:  /bin/bash -c 'npm start'

secrets:
  db_user:
    file: ./db_user.txt
  db_password:
    file: ./db_password.txt
  port:
    file: ./port.txt
volumes:
  node_modules:
  mongodb_master_data:
    driver: local

